.main{
    background-color: #ddddf7;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    img{
        width: 50px;
        height: 50px;
        border-radius: 50%;
        object-fit: cover;
    }

    .container{
        background-color:#a7bcff ;
        border: 1px solid white;
        border-radius: 10px;
        width: 65%;
        height: 80%;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        justify-content: center;
     
        .title{
            background-color: white;
            border-radius: 10px;
            width: 50%;
            height: 10%;
            display: inline-block;
           
        }
        
        .group{
            background-color: #9b99da;
            justify-content: center;
            display: flex;
            flex-direction: row;
            height: 20%;

        }
        .friend{
            background-color: #8783ca;
            
        }
        .chatlist{
            background-color: aliceblue;
            width:40%;
            height: 40%;

            
        }

        .sidebar{
            flex:1;
            border-right: 1px solid #3e3c61;
            background-color: #3e3c61;
            position: relative;
    
    
            .userChat{
                padding: 10px;
                display: flex;
                align-items: center;
                gap: 10px;
                color: white;
                cursor: pointer;
                &:hover{
                    background-color: #2f2d52;
                }
                img{
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;
                    object-fit: cover;
                }
                .userChatInfo{
                    span{font-size: 18px; font-weight: 500;}
                    p{margin:0 ;font-size: 14px; color: lightgray;}
                }
            }
        }
    }
}
    
